{% extends 'base.html.twig' %}

{% block title %}Les maçons de L'informatique{% endblock %}

{% block body %}

	<div class ="img7">
	<div class ="contenuTitre">
		<h3>List Article</h3>
	</div>
		<ul>

		    {#}<table>
		    	<tr>
		    		<th>Id</th>
		    		<th>Title</th>
		    		<th>Auteur</th>
		    		<th>Is published</th>
		    		<th>Edit </th>
		    	</tr>
		    	 {% for article in articles %}
		    	 	<tr class = "row-list">
		    	 		<th>{{ article.id }}</th>
		    	 		<th>{{ article.title }}</th>
		    	 		<th>{{ article.author }}</th>
		    	 		<th>{{ article.publishedAt ? 'published' : 'not published'}}</th>
		    	 		<th><a href ="{{ path('admin_article_edit',{'id': article.id}) }}" class = "list-article-button">Edit Article</a></th>
		    	 	</tr>
		    	 {% endfor %}
		    </table>#}
	    	 {% for article in articles %}
				<li class = "list-article"><div class ="list-article-text">{{ article.title }} : <i>{{ article.author }} : 
				{{ article.publishedAt ? '<span class = "publish">published</span>' : '<span class = "Nopublish">not published </span>'}}</i>
				<a class = "list-article-button-delete" href ="{{ path('admin_article_delete',{'id' : article.id}) }}">Del. Art.</a><a class = "list-article-button-edit" href ="{{ path('admin_article_edit',{'id': article.id}) }}"  >Edit Article</a></div></li>
				</br>
		    {% endfor %}
		</ul>
	</div>
{% endblock %}