{% extends 'base.html.twig' %}

{% block title %}Les Admins de L'informatique{% endblock %}

{% block body %}
	<div class ="img7">
		<div class ="contenuTitre">
			<h3>Control Panel</h3>
		</div>
		<div class = "Controls-Admin">
			<ul>
				<li>
					<div class = "bt-1et1">
						<a href="{{ path('admin_article') }}"><div class = "bt-type-1">New Article						</div></a>
						<a href="{{ path('admin_selectUser') }}"><div class = "bt-type-1">Account Control/Selec User	</div></a>
					</div>	
				</li>
				<li>
					<a href="{{ path('admin_dynamicStream') }}"><div class = "bt-type-2">Configure Dynamic Stream		</div></a>
				</li>
				<li>
					<div class = "bt-12et12">
						<a href="{{ path('list_article') }}"><div class = "bt-type-1">List Article						</div></a>
						<a href="{{ path('home') }}"><div class = "bt-type-1">Home				</div></a>
					</div>	
				</li>
			</ul>
		</div>
	</div>

{% endblock %}