{% extends 'base.html.twig' %}

{% block title %}Les maçons de L'informatique{% endblock %}

{% block body %}
	<div class ="img7">
	<div class ="contenuTitre">
		<h3>Configure Dynamic </h3>
	</div>
	{{ form_start(form) }}
        <div id = "Dynamique">
            <ul id ="liste">
                {% for article in articles %}
                	{#}<li>F :{{ form_start(tabl) }}{{ form_widget(tabl) }}{{ form_end(tabl) }}</li>#}
					{#}<li><input type="checkbox" name="vehicle1" value="{{ article.id }}"> {{ article.title }}<br></li>#}

                {% endfor %}

            
            </ul>
        </div>
        <div class ="list-checked-article">
                {{ form_widget(form) }}
	    </div>
    	<button type="Submit" class="">Save Change</button>
	{{ form_end(form) }}
	</div>
	<script type="text/javascript" src="{{ asset('js/testAffichage.js') }}"></script>
	<script>//Clear();</script>
{% endblock %}