<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
        <link href="{{ asset('css/home.css') }}" rel="stylesheet" />
        {% endblock %}
        
        <div class = "bandeau">
        <ul>
        	<!-- BOUTONS COMMUN (CONNECTE OU NON) -->
        	<li><a href = "{{ path('home') }}"  ><h1>LMI</h1></a></li>
        	{% if is_granted('ROLE_USER') %}
        		<!-- SI LA PERSONNE CONNECTE A LE ROLE USER : -->
        		<li ><a href="{{ path('app_logout') }}" class = "boutonAccueil">Logout</a>					</li>
        		<li ><a href="{{ path('app_account') }}" class = "boutonAccueil">Account</a>				</li>
        	    {% if is_granted('ROLE_ADMIN') %}
        		<!--  SI UN ADMIN S'EST CONNECTE -->
        		<li ><a href="{{ path('home_admin')  }}" class = "boutonAccueil">Control Panel</a>		</li>
        		{% endif %}
        	{% else %}
        	<!-- SI LA PERSONNE N'EST PAS CONNECTE -->
        	<li ><a href="{{ path('app_login')   }}" class = "boutonAccueil">Login</a>					</li>
        	{% endif %}
        </ul>
        </div>
    </head>

    <body >

    	<div class = "corps">
    	
    	
	    
        {% block body %}{% for message in app.flashes('success') %}
    		<div class = "alert-success"> {{ message }}</div> 
	    {% endfor %}{% endblock %}
        {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
