{% extends 'base.html.twig' %}

{% block title %}Les maçons de L'informatique{% endblock %}

{% block body %}
	<div class ="img2">
	<div class ="contenuTitre">
		<h3>Display Article </h3>
	</div>
      	<div class = "apercu-Article">
      		<div class ="tete">
      			<h3>Article : <i>{{ article.title }}</i></h3>
      		</div>
      		</br>
      		<div class ="txt">
      			{#<img class= "blog-img" src="{{ asset(article.imageFilename) }}">#}
      			{#<img class= "show-article-img" src="{{  asset(article.imagePath) }}">#}
      		    {{ article.content }}
      		</div>
      		</br>
      		<div class ="info">
      		{#<span class ="Js-count"><h5>Like : {{ article.heartCount }}</h5></span>#}
      		{#<a href="{{ path('article_toggle_heart', {slug: article.slug}) }}" class="js-like-article">Like</a>#}
      		<h5>Auteur : <i>{{ article.author }}</i></h5>
      		<h5>Date : {{ article.publishedAt ? article.publishedAt|ago : 'unpublished' }}</h5>
      		    {# {{ article.publishedAt ? article.publishedAt|date('d/m/Y') : 'unpublished' }} #} <!-- Pour publier la date sous le format XX/XX/20XX -->
      		    {# {{ article.publishedAt ? article.publishedAt|date('d/m/Y') : 'unpublished' }} #} <!-- Pour publier la date sous le format ' ago '	-->
      		</div>
      	</div>
		
		


{% endblock %}