{% extends 'base.html.twig' %}

{% block title %}Les maçons de L'informatique{% endblock %}

{% block body %}
	<div class ="img2">
    	<div class ="contenuTitre">
    		<h3>Display Article </h3>
    	</div>
      	<div class = "apercu-Article">
      		<div class ="tete">
      			<h3>Article : <i>{{ article.title }}</i></h3>
      		</div>
      		</br>
      		<div class ="txt">
				<div class ="img-txt">		   
  					<img class="article-img" src="{{ asset('Images/'~article.imageFilename) }}">
  					
  					
  				</div>
  				<div class ="img-txt text-display-article" >
      				 {{ article.content }}
      			</div>         		
			</div>
      		
      		</br>
      		<div class ="info">
          		<h5>Auteur : <i>{{ article.author }}</i></h5>
          		<h5>Date : {{ article.publishedAt ? article.publishedAt|ago : 'unpublished' }}</h5>
      		</div>
      	</div>
	</div>
	
		


{% endblock %}