{% block stylesheets %}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet" />
    
{% endblock %}
{% block body %}
	<div class ="img4-Dyn">
		<div class ="contenuTitre">
			<h3>TEST</h3>
		</div>
		<!--=========ARTICLE DYNAMIQUE==========-->
		<div class = "Dynamique-Case-Display">
    		<div id = "Dynamique-txt">
        		<ul id ="liste">
        		    {% for article in articles %}
        		    	{% if (article.checked)  %}
        					<li class = "list-article">{{ article.title }} : {{ article.content }}\ <img class="article-img" src="{{ asset('Images/'~article.imageFilename) }}"></li>
        		    	{% endif %}	
        		    	
        		    {% endfor %}
        	    </ul>
    		</div>
    		<div id = "Dynamique-img">
    		</div>

		</div>
		<div class ="Dynamique-Menu-Gauche"></div>
		<div class ="Dynamique-Menu-Bas"></div>
		<!-- <button onclick="setInterval(AffichageDyn,3000)" id ="btn">LANCER L'AFFICHAGE DYNAMIQUE</button> -->
		<script type="text/javascript" src="{{ asset('js/testAffichage.js') }}"></script>
		<script>Clear(); setInterval(AffichageDyn,1500)</script>

	</div>
{% endblock %}